<center>
<% if !@resume.errors.empty? %>
   <div class = "alert alert-error">
      <ul>
         <% @resume.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>
<div class = "well">
   <%= form_with model: @resume, url: resume_path(@resume), method: :patch, local: true do |f| %>
   <br/>
   <br/>
      <p>Имя</p>
      <%= f.text_field :name ,placeholder: "Имя"%>
      <br/>
      <p>Цена</p>
      <%= f.text_field :price ,placeholder: "Цена" %>
      <br/>
      <p>Время</p>
      <%= f.text_field :time ,placeholder: "Время"%>
      <br/>
      <p>Количество</p>
      <%= f.text_field :col ,placeholder: "Количество раз" %>
      <p>Область</p>
      <%= f.text_field :oblast ,placeholder: "Область массажа"%>
      <br/>
      <br/>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
</center>
